@import "variables";
.perfil {
	width: 50%;
	padding-top: 50px;
	color: $color__claro;
	background-color: $color__secundario;
	&__avatar {
		display: block;
		margin: 0 auto;
		border-radius: 50em;	
	}
	&__nombre {
		text-align: center;
		font-size: 2rem;
		@include titulos($fuente2);
	}
	&__titulo {
		text-transform: uppercase;
		text-align: center;
		font-weight: bold;
		font-size: 1.2rem;
		color: get-opacity($color__claro, .50);
	}
	&__boton {
		display: block;
		width: 100px;
		height: 40px;
		margin: 15px auto;
		padding: 7.5px;
		border-radius: 20px;
		text-decoration: none;
		text-align: center;
		font-size: 1.2rem;
		color: $color__claro;
		background-color: get-opacity($color__primario, .20);
		border: 2px solid get-opacity($color__claro, .30);
		@include titulos($fuente2);
	}
    @media (max-width: 500px) {
		width: 100%;
	}
}

.perfil__minibio {
	margin: 0 auto;
	padding-top: 20px;
	h2 {
		@extend .perfil__nombre;
	}
	h3 {
		@extend .perfil__titulo;
	}
}