@import "variables";
.ubicacion--perfil {
	width: 50%;
	height: 90px;
	margin: 30px auto 0 auto;
	padding: 20px 0 0 50px;
	@include caja;
	i {
		display: block;
		float: left;
		padding-right: 10px;
		font-size: 4rem;
		color: $color__variacion;
	}
	h2 {
		text-transform: uppercase;
		font-weight: 600;
		font-size: 2rem;
		font-family: $fuente2;
	}
	h3 {
		text-transform: uppercase;
		font-size: 1.2rem;
		font-size: $fuente2;
		color: get-opacity($color__primario, .50);
	}
	@media (max-width: 500px) {
		width: 80%;
	}
}