// V A R I A B L E S
$fuente1: 'Lato', sans-serif;
$fuente2: 'Oswald', sans-serif;
$color__primario: #333333;
$color__claro: #ffffff; 
$color__secundario: #8841DA;
$color__variacion: #3f579a;

// M I X I N S
@mixin caja {
    border-radius: 20px;
    box-shadow: 0px 20px 33px 0px rgba(0, 0, 0, 0.50);
    color: $color__primario;
    background-color: $color__claro;
}
// Dentro del mixin se va definir la condicional
@mixin titulos($fuente) {
    @if $fuente==$fuente1 {
        font-family: $fuente1;
    } @else {
        font-family: $fuente2;
        text-transform: uppercase;
    }
}

// F U N C I O N E S
@function get-opacity($color, $nivel) {
    @return rgba($color, $nivel);
}

// L O O P S
@each $header, $size in (h1: 30px, h2: 25px, h3: 20px) {
    #{$header} {
        font-size: $size;
        margin: 0;
    }
}