@import "variables.styl"
.contenido
	margin-bottom: 40px
	justify-content: space-evenly
	contenedor()

.caja
	max-width: 400px
	margin: 5px
	caja--sombra()
	&__contenido
		padding: 20px
		background-color: color__claro
		span
			color: color__secundario
			font-size: 1.8rem
			line-height: 2.6rem
			titulos(fuente2)
		h3
			font-weight: normal
			titulos(fuente2)
		p
			font-size: 1.8rem
			line-height: 2.4rem